* {
    margin : 0;
    padding: 0;
}

html,
body,
.homepage,
.contactpage,
.footer {
    max-width: 100vw;
    margin   : 0 auto;
}

.homepage {
    background         : linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    background-position: 1366px 768px;
    margin-bottom      : 112px;
}

/* вместо .container как в дз сказано, у меня создан класс .content*/
.content {
    margin   : 0 auto;
    max-width: 1140px;
}

.header {
    margin-top        : 16px;
    margin-bottom     : 105px;
    display           : flex;
    justify-content   : space-between;
    height            : 48px;
    /* border         : 1px solid black;
    box-sizing        : border-box; */
}

.header__logo-lnk {
    display        : block;
    text-decoration: none;
    margin         : 0;
    background     : url("../img/logo.svg") 0px -2px no-repeat;
    width          : 46.58px;
    height         : 48px;
}

.header__logo-lnk:hover {
    background            : url("../img/logo_hov.svg") 0px -2px no-repeat;
    /* background-position: 0px -2px; */
    cursor                : pointer;
}

.header__adress-ico-lnk {
    display        : block;
    text-decoration: none;
    margin         : 0;
    background     : url("../img/address-book-solid 1.svg") 0px 3px no-repeat;
    width          : 34px;
    height         : 46px;
}

.header__adress-ico-lnk:hover {
    background: url("../img/address_hov.svg") 0px 3px no-repeat;
    cursor    : pointer;
}

.contactpage {
    margin-bottom: 48px;

    &__header {
        margin-bottom: 48px;
    }

    &__baner {
        width        : 100%;
        background   : no-repeat center/100% url(../img/header_baner_contact.svg);
        height       : 250px;
        margin-bottom: 57px;
    }

    &__box {
        text-align : center;
        padding-top: 51px;

        &-heding {
            font-family   : 'Roboto';
            font-style    : normal;
            font-weight   : 500;
            font-size     : 44px;
            line-height   : 74px;
            text-align    : center;
            letter-spacing: 0.04em;
            color         : #FFFFFF;
            padding-bottom: 16px;
        }

        &-text {
            font-family   : 'Roboto';
            font-style    : normal;
            font-weight   : 400;
            font-size     : 20px;
            line-height   : 30px;
            text-align    : center;
            letter-spacing: 0.04em;
            color         : rgba(255, 255, 255, 0.6);
            padding       : 0 142px;
        }
    }

    &__about {
        margin-bottom  : 56px;
        display        : flex;
        justify-content: space-between;
    }
}

.about__right {
    width : 301px;
    height: 668px;

    &-img {
        width     : 300.31px;
        height    : 181px;
        background: url(../img/back-address-photo.svg) no-repeat;
        margin-bottom: 56px;
    }

    &-box {
        display       : flex;
        flex-direction: column;

    }

    &-address {
        margin-bottom: 40px;
    }

    &-head {
        font-family   : 'Roboto';
        font-style    : normal;
        font-weight   : 500;
        font-size     : 20px;
        line-height   : 30px;
        letter-spacing: 0.04em;
        color         : #1F3F68;
        padding-bottom: 24px;
    }

    &-text {
        font-family   : 'Roboto';
        font-style    : normal;
        font-weight   : 300;
        font-size     : 16px;
        line-height   : 26px;
        letter-spacing: 0.04em;
        color         : #1F3F68;
        opacity       : 0.6;
    }

    &-link {
        font-family    : 'Roboto';
        font-style     : normal;
        font-weight    : 300;
        font-size      : 16px;
        line-height    : 26px;
        letter-spacing : 0.04em;
        color          : #1F3F68;
        text-decoration: none;
        padding-bottom: 16px;
    }

    &-phone {
        margin-bottom: 40px;
    }

    &-service {}

    &-site {
        font-family    : 'Roboto';
        font-style     : normal;
        font-weight    : 400;
        font-size      : 16px;
        line-height    : 26px;
        letter-spacing : 0.05em;
        color          : #1F3F68;
        text-decoration: none;
        margin-bottom: 16px;
    }

    &-mail {
        font-family: 'Roboto';
        font-style : normal;
        font-weight: 400;
        font-size  : 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #1F3F68;
        text-decoration: none;
    }

}

.about__left {
    width        : 540-112px;
    height       : 800-112px;
    background   : #FFFFFF;
    box-shadow   : 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding      : 56px 56px;

    &-text {
        font-family   : 'Roboto';
        font-style    : normal;
        font-weight   : 500;
        font-size     : 20px;
        line-height   : 30px;
        letter-spacing: 0.04em;
        color         : #1F3F68;
        margin-bottom : 48px;
    }

    &-form {
        display       : flex;
        flex-direction: column;
        align-items   : center;
    }

    &-form>input {
        width        : 428-84px;
        height       : 72-42px;
        opacity      : 0.4;
        /* blue_03 */
        border       : 1px solid #356EAD;
        border-radius: 10px;
        padding      : 21px 42px;
        margin-bottom: 70px;
    }

    &-form>textarea {
        width        : 428-84px;
        height       : 144-42px;
        opacity      : 0.4;
        border       : 1px solid #356EAD;
        border-radius: 10px;
        padding      : 21px 42px;
        margin-bottom: 72px;
    }

    &-button {
        width        : 428px;
        height       : 72px;
        background   : #5A98D0;
        box-shadow   : 5px 20px 50px rgba(16, 112, 177, 0.2);
        border-radius: 10px;
    }
}


.hero {
    display: flex;
}

.group {
    margin: 0;
    width : 504px;
}

.group__h1 {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 300;
    font-size     : 62px;
    letter-spacing: 0.06em;
    color         : #1F3F68;
    padding-bottom: 31px;
    width         : 510px;
}

.group__p {
    width         : 425px;
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    color         : #1F3F68;
    opacity       : 0.6;
    margin        : 0;
    padding-bottom: 75px;
    letter-spacing: 0.05em;
    line-height   : 1.6;
}

.group__button {
    width        : 220px;
    height       : 56px;
    background   : #5A98D0;
    box-shadow   : 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    margin       : 0;
}

.group__button-name {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 56px;
    /* identical to box height, or 162% */
    text-align    : center;
    letter-spacing: 0.04em;
    color         : #FFFFFF;
    user-select   : none;
}

.group__button-name:hover {
    cursor    : pointer;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
}

.illustration {
    width              : 648.69px;
    height             : 549.04px;
    background         : url(../img/illustration.svg);
    background-repeat  : no-repeat;
    background-position: 82px -6px;
}

.content__help {
    padding-top: 96px;
}

.help__h3 {
    display        : flex;
    justify-content: center;
    padding-bottom : 64px;
}

.h3__main {
    font-family: 'Roboto';
    font-style : normal;
    font-weight: 300;
    font-size  : 36px;
    line-height: 46px;
    /* or 128% */

    text-align    : center;
    letter-spacing: 0.05em;

    color: #000000;
}

.help__purpose {
    display        : flex;
    justify-content: space-between;
    padding-bottom : 63px;
}

.purpose {
    width        : 359px;
    height       : 480px;
    background   : #FFFFFF;
    box-shadow   : 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

}

.purpose__box {
    padding : 0 32px;
    position: relative;
}

.help__footer {
    height       : 42px;
    margin-bottom: 148px;
}

.help__footer-main {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 300;
    font-size     : 36px;
    line-height   : 42px;
    /* identical to box height, or 128% */
    text-align    : center;
    letter-spacing: 0.05em;
    color         : #000000;
    padding-bottom: 32px;
}

.help__footer-text {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 26px;
    /* or 162% */
    text-align    : center;
    letter-spacing: 0.05em;
    color         : #222222;
}

.purpose__img {
    display        : flex;
    justify-content: center;
    padding-top    : 34.8px;
    padding-bottom : 52px;
}

.purpose__img>img {
    padding-right: 15px;
}

.purpose__h4-main>h4 {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 20px;
    line-height   : 30px;
    /* or 150% */
    letter-spacing: 0.05em;
    /* Blue_01 */
    color         : #1F3F68;
    padding-bottom: 14px;

}

.purpose__p {
    padding-bottom: 19.8px;
}

.purpose__p>p {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    color         : #1F3F68;
    opacity       : 0.6;
}

.purpose__lnk {
    text-decoration: none;
    font-family    : 'Roboto';
    font-style     : normal;
    font-weight    : 400;
    font-size      : 14px;
    line-height    : 30px;
    /* or 214% */
    letter-spacing : 0.05em;
    color          : #5A98D0;
}

.purpose__lnk::after {
    content   : "";
    width     : 24px;
    height    : 24px;
    background: url("../img/ic_arrow_forward_24px.svg") 0 0 no-repeat;
    position  : absolute;
    left      : 36%;
    bottom    : 1%;

}

.purpose__lnk:hover:after {
    content   : "";
    width     : 24px;
    height    : 24px;
    background: url("../img/ic_arrow_forward_24px_hov.svg") 0 0 no-repeat;
    position  : absolute;
    left      : 36%;
    bottom    : 1%;
}

.smart {
    height       : 480px;
    background   : url("../img/alberto-castillo-q-mx4mSkK9zeo-unsplash.png") no-repeat;
    margin-bottom: 32px;
    border-radius: 10px;
}

.smart_home {
    height    : 480px;
    background: url("../img/smart.svg") no-repeat;
}

.smart_home_p {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 32px;
    line-height   : 46px;
    /* or 144% */
    text-align    : right;
    letter-spacing: 0.05em;
    color         : #FFFFFF;
    padding       : 64px 64px 0 0;
}

.app {
    display        : flex;
    justify-content: space-between;
}

.back_spark {
    width           : 554px;
    height          : 417px;
    background-image: url(../img/Dribble_iphonex_mockup.png);
    border-radius   : 10px;
}

.sparklite {

    height       : 417px;
    background   : linear-gradient(308.85deg, rgba(66, 165, 245, 0.4) -1.71%, rgba(21, 101, 192, 0.6) 74.54%);
    border-radius: 10px;
}

.sparklite_p {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 28px;
    line-height   : 46px;
    letter-spacing: 0.05em;
    color         : #FFFFFF;
    padding       : 32px 0 0 32px;

}

.back_car {
    width           : 554px;
    height          : 417px;
    background-image: url(../img/upload.png);
    border-radius   : 10px;
}

.car {

    height       : 417px;
    background   : linear-gradient(306.48deg, rgba(66, 165, 245, 0.4) 0%, rgba(21, 101, 192, 0.6) 97.81%);
    border-radius: 10px;
}

.car_p {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 28px;
    line-height   : 46px;
    letter-spacing: 0.05em;
    color         : #FFFFFF;
    padding       : 32px 0 0 32px;
}

.footer {
    background: #316099;
}

.intersted {
    padding-top    : 91px;
    margin-bottom  : 96px;
    display        : flex;
    justify-content: space-between;
}

.intersted_left {
    width : 494.77px;
    height: 204px;
}

.intersted_right {
    width          : 494.77px;
    height         : 204px;
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
}

.intersted__button {
    background   : #5A98D0;
    border-radius: 0px;
    width        : 237px;
    height       : 56px;
}

.intersted_left_h3 {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 36px;
    line-height   : 46px;
    letter-spacing: 0.05em;
    color         : #FFFFFF;
    padding-bottom: 32px;

}

.intersted_left_p {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 26px;
    letter-spacing: 0.05em;
    color         : #FFFFFF;
    opacity       : 0.6;
}

hr {
    opacity      : 0.4;
    margin-bottom: 64px;
}

.info {
    margin-bottom: 64px;
}

.info_list {
    display        : flex;
    justify-content: space-between;

}

.info_list>li {
    margin-left: 19px;
}

.p_address,
.link_tel,
.link_email {
    margin-left: 19.16px;
}

.address,
.tel,
.email {
    width: 358px;
}

.info_list,
.p_address,
.link_tel,
.link_email {
    text-decoration: none;
    font-family    : 'Roboto';
    font-style     : normal;
    font-weight    : 400;
    font-size      : 16px;
    line-height    : 26px;
    letter-spacing : 0.05em;
    color          : #FFFFFF;
}

.reserved {
    padding-bottom: 64px;
}

.reserved_p {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 26px;
    letter-spacing: 0.05em;
    color         : #FFFFFF;
    opacity       : 0.4;
}