* {
    margin : 0;
    padding: 0;
}

.homepage {
    margin    : 0 auto;
    width     : 1366px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.content {
    margin    : 0 auto;
    width     : 1140px;
    height    : 750px;
    /* border    : 1px solid black;
    box-sizing: border-box; */

}

.header {
    margin-top     : 16px;
    margin-bottom  : 105px;
    display        : flex;
    justify-content: space-between;
    height         : 48px;
    /* border         : 1px solid black;
    box-sizing     : border-box; */
}

.header__logo-lnk {
    display        : block;
    text-decoration: none;
    margin         : 0;
    background: url("/img/logo.svg") 0px -2px no-repeat;
    width : 46.58px;
    height: 48px;
}
.header__logo-lnk:hover {
    background: url("/img/logo_hov.svg") 0px -2px no-repeat;
    /* background-position: 0px -2px; */
    cursor    : pointer;
}

.header__adress-ico-lnk {
    display        : block;
    text-decoration: none;
    margin         : 0;
    background: url("/img/address-book-solid 1.svg") 0px 3px no-repeat;
    width : 34px;
    height: 46px;
}
.header__adress-ico-lnk:hover{
    background: url("/img/address_hov.svg") 0px 3px no-repeat;
    cursor    : pointer;
}

.hero {
    display: flex;
}

.group {
    margin: 0;
    width : 504px;
}

.group__h1 {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 300;
    font-size     : 62px;
    letter-spacing: 0.06em;
    color         : #1F3F68;
    padding-bottom: 35px;
}

.group__p {
    width         : 425px;
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    color         : #1F3F68;
    opacity       : 0.6;
    margin        : 0;
    padding-bottom: 75px;
    letter-spacing: 0.05em;
    line-height   : 1.5;
}

.group__button {
    width        : 220px;
    height       : 56px;
    background   : #5A98D0;
    box-shadow   : 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    margin       : 0;
}

.group__button-name {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 56px;
    /* identical to box height, or 162% */
    text-align    : center;
    letter-spacing: 0.04em;
    color         : #FFFFFF;
    user-select   : none;
}

.group__button-name:hover {
    cursor    : pointer;
    box-shadow: 5px 20px 50px rgb(16 112 177 / 20%);
}

.illustration {
    width              : 648.69px;
    height             : 549.04px;
    background         : url(/img/illustration.svg);
    background-repeat  : no-repeat;
    background-position: 82px -6px;
}

.content__help {
    padding-top: 96px;
}

.help__h3 {
    display        : flex;
    justify-content: center;
    padding-bottom : 64px;
}

.h3__main {
    font-family: 'Roboto';
    font-style : normal;
    font-weight: 300;
    font-size  : 36px;
    line-height: 46px;
    /* or 128% */

    text-align    : center;
    letter-spacing: 0.05em;

    color: #000000;
}

.help__purpose {
    display        : flex;
    justify-content: space-between;
    padding-bottom : 63px;
}

.purpose {
    width        : 359px;
    height       : 480px;
    background   : #FFFFFF;
    box-shadow   : 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;

}

.purpose__box {
    padding : 0 32px;
    position: relative;
}

.help__footer {
    height: 42px;
}

.help__footer-main {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 300;
    font-size     : 36px;
    line-height   : 42px;
    /* identical to box height, or 128% */
    text-align    : center;
    letter-spacing: 0.05em;
    color         : #000000;
    padding-bottom: 32px;
}

.help__footer-text {
    font-family: 'Roboto';
    font-style : normal;
    font-weight: 400;
    font-size  : 16px;
    line-height: 26px;
    /* or 162% */

    text-align    : center;
    letter-spacing: 0.05em;
    padding-bottom: 64px;
    color         : #222222;
}

.purpose__img {
    width         : 171.94px;
    height        : 120.72px;
    padding-top   : 43.9px;
    padding-bottom: 41px;
}

.purpose__h4-main>h4 {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 20px;
    line-height   : 30px;
    /* or 150% */
    letter-spacing: 0.05em;
    /* Blue_01 */
    color         : #1F3F68;
    padding-bottom: 14px;

}

.purpose__p {
    padding-bottom: 19.8px;
}

.purpose__p>p {
    font-family   : 'Roboto';
    font-style    : normal;
    font-weight   : 400;
    font-size     : 16px;
    line-height   : 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    color         : #1F3F68;
    opacity       : 0.6;
}

.purpose__lnk {
    text-decoration: none;
    font-family    : 'Roboto';
    font-style     : normal;
    font-weight    : 400;
    font-size      : 14px;
    line-height    : 30px;
    /* or 214% */
    letter-spacing : 0.05em;
    color          : #5A98D0;
}

.purpose__lnk::after {
    content   : "";
    width     : 24px;
    height    : 24px;
    background: url("/img/ic_arrow_forward_24px.svg") 0 0 no-repeat;
    position  : absolute;
    left      : 36%;
    bottom    : 1%;

}

.purpose__lnk:hover:after {
    content   : "";
    width     : 24px;
    height    : 24px;
    background: url("/img/ic_arrow_forward_24px_hov.svg") 0 0 no-repeat;
    position  : absolute;
    left      : 36%;
    bottom    : 1%;
}