* {
    margin: 0 auto;
}

.homepage {
    width: 1366px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.content {
    width: 1140px;
    height: 750px;
    border: 1px solid black;
    box-sizing: border-box;

}

.header {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    height: 48px;
    border: 1px solid black;
    box-sizing: border-box;
}

.logo{
    margin: 0;
    display: block;
    width: 46.58px;
    height: 48px;
}
.logo:hover {
    background-image: url(/img/logo_hov.svg);
    cursor: pointer;
}

.adress{
    margin: 0;
    display: block;
    width: 32.46px;
    height: 46px;
}

.group {

}

.group__h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    /* or 116% */
    letter-spacing: 0.04em;
    /* Blue_01 */
    
    color: #1F3F68;
}

.group__p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    letter-spacing: 0.05em;
    /* Blue_01 */
    color: #1F3F68;
    opacity: 0.6;
}

.group_button {
    width: 220px;
    height: 56px;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
}